<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="../css/index.css">
</head>

<body>
    <div id="nav">
        <!--navigation links to other pages/locations on the current page-->
        <a href="/home">HOME</a>
        <a href="/about">ABOUT US</a>
        <a href="/contact">CONTACT</a>
        <a href="/login">LOGIN</a>
    </div>

    <div class="coverhalf full">
        <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum incidunt assumenda quos eligendi repellat eos, deleniti ullam adipisci corporis minus earum veritatis corrupti placeat nostrum nemo dolorem maiores iure voluptate neque expedita aut. Placeat fugit ratione nemo, accusantium, aspernatur reprehenderit ullam laboriosam tempore modi porro quisquam laborum perspiciatis ducimus eius.</h1>
        <img src = "https://picsum.photos/800/600">
    </div>
    <div class="coverhalf">
        <!-- a video in the background can be played, otherwise it is left blank -->
        <div>
            <h1>Lorem ipsum dolor sit amet.</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias provident magnam ea ullam. Ab earum, nobis assumenda enim incidunt, deserunt iste dignissimos quia magnam, quos hic sequi error nemo ipsa veritatis id at laborum sapiente! Aliquid non quis repudiandae quam.</p>
        </div>
        <img src = "https://picsum.photos/200">
        <br>
    </div>
    <div class="coverhalf primary">
        <!-- a video in the background can be played, otherwise it is left blank -->
        <img src = "https://picsum.photos/200">
        <div>
            <h1>Lorem ipsum dolor sit amet.</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias provident magnam ea ullam. Ab earum, nobis assumenda enim incidunt, deserunt iste dignissimos quia magnam, quos hic sequi error nemo ipsa veritatis id at laborum sapiente! Aliquid non quis repudiandae quam.</p>
        </div>
        <br>
    </div>
</body>

</html>