<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacts</title>
    <link rel="stylesheet" href="../css/index.css">
</head>

<body>
    <div id="nav">
        <!--navigation links to other pages/locations on the current page-->
        <a href="/home">HOME</a>
        <a href="/about">ABOUT ME</a>
        <a href="/contact">CONTACT</a>
        <a href="/login">LOGIN</a>
    </div>

    <div id="contactmain">
        <section class="left">
            <h1>Contact Us</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor ipsam provident, ex ipsum nostrum sit.</p>
        </section>
        <section class="right">
            <li class="formlist">
                <p>Name</p>
                <input type="text" placeholder="Big Chungus">
            </li>
            <li class="formlist">
                <p>Email</p>
                <input type="text" placeholder="chung@gmail.com">
            </li>
            <li class="formlist">
                <p>Message</p>
                <textarea placeholder="The power of five squared"></textarea>
            </li>
            <button>Submit</button>
        </section>
    </div>
</body>

</html>